/* ==========================================================================
 * NAV-MENU
 * ========================================================================== */

.nav-menu {
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    &.sticky-top {
        box-shadow: 0px 4px 50px 0px rgba(150, 170, 187, 0.2);
        position: fixed;
        animation: menuSlideDown 0.3s ease;
    }
    .dark-theme & {
        background: $dark;
        box-shadow: none;
        border-bottom: 1px solid $gray;
    }
}

.navbar {
    padding: 1rem 1rem;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: $dark;
    padding: 0;
    .dark-theme & {
        color: $white;
    }
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
}

.nav-item {
    padding: 0 0 0 32px;
    @media (max-width: 992px) {
        padding: 18px 0 0px 0;
    }
}

.navbar-light .navbar-toggler {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $primary-color !important;
    transition: 0.2s;
}

@keyframes menuSlideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


/* ====================================================
 * Button
 * ==================================================== */

.btn-primary {
    background: none;
    border: 2px solid $primary-color;
    color: $primary-color;
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 40px;
    @media (max-width: 992px) {
        font-size: 18px;
        padding: 10px 16px;
    }
    @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: none;
    color: $white;
}

.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    background-color: $primary-color;
    border-color: $primary-color;
    outline: none;
}

.btn-success {
    background: none;
    border: 2px solid $secondary-color;
    color: $secondary-color;
    border-radius: 30px;
    font-size: 20px;
    padding: 12px 40px;
    @media (max-width: 992px) {
        font-size: 18px;
        padding: 10px 16px;
    }
    @media (max-width: 480px) {
        width: 100%;
    }
}

.btn-success:hover,
.btn-success:focus {
    background-color: $secondary-color;
    border-color: $secondary-color;
    box-shadow: none;
    color: $white;
}


/* ====================================================
 * Pagination
 * ==================================================== */

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 0;
    border: 2px solid $light;
}

.page-link {
    font-size: 24px;
    font-weight: $thin;
    padding: 0.8rem 1.45rem;
    color: $dark;
    border: 2px solid $light;
}

.page-link:focus,
.page-link:hover,
.page-link:active {
    color: $primary-color;
    background: none;
    border: 2px solid $light;
}

// Pagination
.pagination .page-item:nth-child(4) {
    @media (max-width: 576px) {
        display: none;
    }
}